body{
	width: 100%;
	height: 100%;
	font-family: 'Roboto Light', Arial, Verdana, sans-serif;
}

h2, h3{
	color: #00DFFC;
}


#loader { position: relative; z-index: 9999; margin: 0px auto; width: 250px; margin-top: 100px; background: #ddd; color: #222; padding: 25px; border-radius: 5px; }
#overlay { position: absolute; width: 100%; height: 100%; z-index: 9999; background: rgba(0,0,0,0.8); text-align: center;}

#container{
  width: 100%;
	height: 100%;
	min-height: 400px;
}


.dropdown-menu { max-height: 200px; overflow: scroll; overflow-x: hidden;}
.year_picker_container { margin-left: 0px; }


circle { cursor: pointer; }


#slideInPanel {
height: 100vh;
width: 00px;
overflow-x: hidden;
position: absolute;
top: 0;
right: 0;
background: rgba(52,56,56,0.8);
}


#slideInPanel a {
  	color: #fff;
	padding: 5px 7px;
	display: block;
}

#compare_authors_button {
	margin-left: 0px;
	margin-top: 0px;
	float: right;
}

#authors{
	font-size: 1.75em;
	color: #fff;
	padding: 20px;
}

#bar1, #bar2{
	color:#fff;
	padding-left: 20px; 
}

#color1{
	width: 25px;
	height: 25px;
	background-color: #AEE239;
	float: right;
}
#color2{
	width: 25px;
	height: 25px;
	background-color: #FA6900;
	float: right;
}

.separator {
	width: 100%;
	height: 2px;
	background-color: rgba(52,56,56,1);
}

#siderBar_papersContainer .paperContainer:hover {
	background: #555;
}

#siderBar_papersContainer a:hover{
	color: #00DFFC;
}

#siderBar_papersContainer .paperContainer {
	padding: 5px 10px;
}

#author_header {
	margin: 0;
	padding: 15px;
	width: 100%;
	height: 60px;
	background-color: rgba(52,56,56,1);
}

#author_name {
	margin:0;
	float: left;
}


#author_picker { width: 180px; }


/*----------------------------------------------------------------------------------------*/
/*!
* Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
* Code licensed under the Apache License v2.0.
* For details, see http://www.apache.org/licenses/LICENSE-2.0.
*/

/* Toggle Styles */

#wrapper {
	padding-left: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#wrapper.toggled {
	padding-left: 250px;
}

#sidebar-wrapper {
	z-index: 1000;
	position: fixed;
	left: 250px;
	width: 0;
	height: 100%;
	margin-left: -250px;
	overflow-y: auto;
	background: #343838;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	color: #ccc;
}

#wrapper.toggled #sidebar-wrapper {
	width: 250px;
}

#page-content-wrapper {
	width: 100%;
	padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
	position: absolute;
	margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
	position: absolute;
	top: 0;
	width: 250px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar-nav > li {
	text-indent: 0px;
	line-height: 40px;
	margin-left: 25px;
	display: block;
}

.sidebar-nav li a {
	display: block;
	text-decoration: none;
	color: #999999;
}

.sidebar-nav li a:hover {
	text-decoration: none;
	color: #666;
	background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
	text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
	height: 65px;
	font-size: 18px;
	line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
	color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
	color: #fff;
	background: none;
}

@media(min-width:768px) {
	#wrapper {
		padding-left: 250px;
	}

	#wrapper.toggled {
		padding-left: 0;
	}

	#sidebar-wrapper {
		width: 250px;
	}

	#wrapper.toggled #sidebar-wrapper {
		width: 0;
	}

	#page-content-wrapper {
		padding: 0px;
	}

	#wrapper.toggled #page-content-wrapper {
		position: relative;
		margin-right: 0;
	}
}

#tooltip{
	width: 400px;
	height: 150px;
	background-color: rgba(100, 100, 100, 0.9);
	position: absolute;
	color: white;
	padding: 25px;
	display: none;
	z-index: 999999;
}

#tooltip h3{
	font-weight: bold;
}

.triangle{
	position: absolute;
	top: -64px;
	left: 235px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 15px 64px 15px;
	border-color: transparent transparent rgba(100, 100, 100, 0.9) transparent;
}

.info{
	float: left;
}

#author_img{
	position: absolute;
	right: 25px;
	height: 100px;
}
